<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Error Page</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">


</head>

<body>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image Restoration system</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="/">Back</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">Image Restoration system</h2>
        </div>


        <div class="jumbotron">
            <h3><strong>An error occurred.</strong></h3>
            <h4>{{message}}</h4>
        </div>

    </div>
</body>

</html>



</body>
 
</html>

