<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Image Restoration system</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link  href="../static/jquery.mloading.css" rel="stylesheet">

</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active btn"><a href="/">Back</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">Choose a process</h2>
        </div>
 
        <div class="jumbotron" style="min-width: 580px;">
		 <div id="image-container">
             <div style="display: inline-block;">
                 <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;" class="center-block">
             </div>

         </div>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Denoise</h4>
                <form id="deniose" action="{{ url_for('denoise') }}" method="POST" enctype="multipart/form-data">
                  <button id="btn20" class="btn btn-lg btn-info" type="submit" name="mode" value="level15" onclick="Function1()">Level 15</button>
                  <button id="btn10" class="btn btn-lg btn-info" type="submit" name="mode" value="level25" onclick="Function1()">Level 25</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">

                </form>
            </div>
 
            <div class="col-lg-6">
                <h4>Super Resolution</h4>
                <form id="sr" action="{{ url_for('sr') }}" method="POST" enctype="multipart/form-data">
                  <button id="btn2x" class="btn btn-lg btn-info" type="submit" name="mode" value="x2" onclick="Function1()">X2</button>
                  <button id="btn4x" class="btn btn-lg btn-info" type="submit" name="mode" value="x4" onclick="Function1()">X4</button>
                    <input type="text" class="hidden" name="image" value="{{ image_name }}">

                </form>
                
            </div>
        </div>
 
    </div>

    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/jquery.mloading.js"></script>
<script>
        $(function(){
            $(".btn-info").click(function(){
                $("body").mLoading();
            });
        });
</script>
</body>

</html>

